<h1>New Post</h1>
<h2>Enter Information:</h2>
<form method="POST" action="/new">
  <p>Username: <input type="text" name="username"></p>
  <p>Name: <input type="text" name="name"></p>
  <p>Url: <input type="text" name="url"></p>
  <input type="submit">
</form>
