<h1>New User</h1>
<h2>Enter Information:</h2>
<form method="POST" action="/new_user">
  <p>Username: <input type="text" name="username"></p>
  <p>Email: <input type="text" name="email"></p>
  <input type="submit">
</form>
